body {
    padding: 0;
    margin: 0;
}

/* container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    
    height: 100vh;
    width: 100vw;


}
.color{
    color: darkblue;
}